body{
  width: 400px;
}
header{
  height: 100px;
  background: #ff0000;
  position: relative;
}
.boxes{
  list-style: none;
  background: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
}

.box{
  width: 40px;
  height: 40px;
  background-color: #a9004b;
  float: left;
  margin-left:10px;
}
.box:nth-child(1){
  margin-left: 0;
}


/* -------------------------------------- */


.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.left-side{
  width: 150px;
  height: 250px;
  background: #00ff51;
  float: left;
}
.right-side{
  width: 250px;
  height: 250px;
  background: #8c2727;
  position: relative;
  float: left;
}
.right-boxes{
  position: absolute;
  top: 40px;
  left: 40px;
  list-style: none;
}
.rightbox{
  width: 140px;
  height: 40px;
  background: #ff863f;
  border: 5px solid #ffffff;
  margin-top: 10px;
}
.rightbox:nth-child(1){
  margin-top: 0;
}

/* -------------------------------------- */
footer{
  background: #ffd000;
  height: 100px;
}