body{
  width: 400px;
}
header{
  height: 100px;
  background: #ff0000;
  position: relative;
}
header ul{
  list-style: none;
  background: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
}
header li{
  width: 40px;
  height: 40px;
  background-color: #a9004b;
  float: right;
}
header li:nth-child(2){
  margin: 0 10px;
}
/* -------------------------------------- */


.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.leftbox{
  width: 150px;
  height: 250px;
  background: #00ff51;
  float: left;

}
.rightbox{
  width: 250px;
  height: 250px;
  background: #8c2727;
  position: relative;
  float: right;
}
.rightbox ul{
  position: absolute;
  top: 40px;
  left: 40px;
  list-style: none;
}
.rightbox li{
  width: 140px;
  height: 40px;
  background: #ff863f;
  border: 5px solid #ffffff;
}
.rightbox li:nth-child(2){
  margin: 10px 0;
}

/* -------------------------------------- */
footer{
  background: #ffd000;
  height: 100px;
}