@charset "utf-8";

header{
  background-color: #ff0000;
  width: 400px;
  height: 100px;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}


.leftbox{
  width: 150px;
  height: 250px;
  background: #00ff51;
  float: left;
}
.rightbox{
  float: left;
}
.boxes{
  float: left;
}

.box1{
  height: 50px;
  width: 150px;
  background-color: #cc00db;
}
.box2{
  height: 100px;
  width: 150px;
  background-color: #0093b7;
}
.box3{
  width: 100px;
  height: 150px;
  background-color: #ff9e6b;
  float: left;
}
.box4{
  height: 100px;
  width: 250px;
  background-color: #8c2727;
}

footer{
  background-color: #fff000;
  height: 100px;
  width: 400px;
}